@import '../components/bootstrap/less/bootstrap.less';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body{
    background-color:#FFFFFF;
}

#header {
	background: #fff url('../images/img_logo-header.png') no-repeat center center;
	height: 123px;
	padding: 10px 0px 30px;
}

#portada{
    background: #0b7cab url('../images/img_portada.jpg') no-repeat top center;
    height: 677px;
    background-position: center;
    background-size: cover;
    position:relative;
    #saludo{
        margin: 150px 15% 0px 15%;
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: center;
        background: rgb(11, 124, 171);
        background: rgba(11, 124, 171, .7);
        p.strong{
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            color: #fff;
            font-size:35px;
            text-align: center;
            line-height: 1.0em;
        }
        p.light{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color:white;
            font-size:25px;
            text-align: center;
            img{
            	margin-right: 20px;
            }
            a{
                color:white;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

#contenedor-contacto {
	padding: 0px 10% 0px 10%;
}

 #services{
    margin-top:50px;
    margin-bottom:30px;
    p.title{
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color:rgb(11, 124, 171);
        font-size:40px;
        text-align: center;
        margin-bottom:30px;
    }
    #images{
        .offset{
            width: 13.33333333%;
        }
        .img-thumbnail{
            border:0px;
        }
        .thumbnail{
            border:0px;
            .caption{
                h3{
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 800;
                    color:rgb(11, 124, 171);
                    font-size:20px;
                    text-align: center;
                    margin: 10px 0px 20px;
                }
                p{
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    color:#4C4C4C;
                    font-size:18px;
                    text-align: center;

                }
            }
        }
    }

}

footer{
    #footer1{
        background-color:#004A68;
        height:116px;
        padding-top: 19px;
        padding-bottom: 19px;
        p{
            margin-left:15px;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            color:#FFF;
            &.strong{
                font-weight: 600;
                font-size: 18px;
                margin-top: auto;
                margin-bottom: 0px;
            }
            &.light{
                font-weight: 300;
                font-size:14px;
                margin-bottom: auto;
            }
        }
        .twitter{
            float:right;
            background:url('../images/btn_tw_sobre.png') no-repeat;
            .size(46px,46px);
            margin-right:7px;
            margin-top:10px;
            opacity: 0.75;
            -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*IE 8 hack */
            -webkit-transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
            &:hover{
                opacity: 1.0;
                -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*IE 8 hack */
            }
        }
        .facebook{
            margin-top:10px;
            float:right;
            background:url('../images/btn_fb_sobre.png') no-repeat;
            .size(46px,46px);
            opacity: 0.75;
            -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*IE 8 hack */
            -webkit-transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
            &:hover{
                opacity: 1.0;
                -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*IE 8 hack */
            }
        }

    }
    #footer2{

        background-color:#313131;
        height:38px;
        padding-top:7px;
        padding-bottom: 7px;
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color:#FFF;
            text-align: left;
        }

    }
}
