<div class="row" id="portada-servicios">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Servicios</p>
    </div>
    <div class="col-lg-12 col-xs-12 foto">
        <div class="row">
            <div class="visible-md visible-lg visible-sm hidden-xs" id="saludo">
                <ul>
                    <li id="kine"><a href="/service/kine/"> KINESIOLOGía</a></li>
                    <li id="masaje"><a href="/service/masaje/"> Masajes</a></li>
                    <li id="fisico"><a href="/service/fisico/"> actividad física</a></li>
                <ul>
            </div>
        </div>
    </div>
</div>

