<div class="row" id="portada-tips">
    <div class="col-lg-12 col-xs-12 title">
        <p class="title">Tips y Consejos</p>
    </div>

</div>


<div class="row" id="tip">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p class="date">2 de Marzo 2014</p>
                <p class="title">
                    Mauris condimentum consequat congue. Mauris elementum nec
                </p>
                <%= image_tag 'img_portada-tip.jpg' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <div class="share fb"></div>
                <div class="share pn"></div>
                <div class="share tw"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p class="author">por Administrador</p>
                <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum, libero ut accumsan pretium, nisi dui condimentum metus, non tempus leo leo et eros. Donec vel pellentesque justo. Donec molestie, enim at rhoncus tincidunt, lacus lectus fermentum felis, tincidunt viverra quam orci at quam. Sed adipiscing mauris mi, in pellentesque nulla faucibus vel. Cras eget lectus a nibh interdum imperdiet in in mi. Cras fringilla sollicitudin tellus at rhoncus. Duis pellentesque feugiat odio at vehicula.</p>
                <p>
                Mauris condimentum consequat congue. Mauris elementum nec nisl et euismod. Morbi nec felis vitae arcu suscipit rhoncus. Etiam ac lobortis nisl, vestibulum bibendum neque. Proin ut odio condimentum, pharetra mauris a, posuere diam. Proin cursus lacus nec sapien tincidunt rutrum. Morbi egestas tincidunt quam, vitae bibendum elit vulputate vel. Vivamus faucibus sagittis felis eget faucibus. Nulla venenatis varius iaculis. Nullam et dui vitae dui imperdiet ullamcorper. Nunc iaculis ipsum et purus gravida dapibus. Nullam enim felis, gravida eu ullamcorper sit amet, convallis ut lectus. Etiam massa metus, egestas et nulla eu, mattis rhoncus justo. Ut blandit venenatis lorem et venenatis.
                </p>
                <p>
                Etiam imperdiet augue a erat molestie, sit amet dignissim neque hendrerit. Sed aliquam sit amet felis ac interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Aenean sollicitudin sollicitudin elit eleifend ullamcorper. Nulla ac odio et orci dignissim ornare. Aliquam mollis risus sed vulputate volutpat. Duis orci urna, lacinia sed mollis sed, malesuada facilisis neque. Fusce ac diam in mauris lobortis aliquet lacinia id nisl. Proin nibh est, laoreet a leo id, facilisis lobortis elit.</p>

                <p>Fuente: <a href="#">Más salud</a></p>
                </div>
            </div>
        </div>
    </div>




</div>




<div class="row" id="team_bottom">

    <div class="col-lg-1 col-lg-offset-5">
        <center>
            <a href="/"><%= image_tag 'btn_home.png' %></a>
        </center>
    </div>

</div>
